.tarjeta-cesta {
  padding: 0.8rem;
  max-width: 400px;
  height: 14rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: flex-start;
  border: 2px solid #5B2333;
  background-color: #F7F4F3;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta-cesta img {
  min-width: 7.5rem;
  max-width: 8rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 8px;
}

.tarjeta-cesta-body{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 40rem;
  justify-content: center;
}
.tarjeta-cesta-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  
}

.tarjeta-cesta h3 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #5B2333;
  margin: 0;
}
.tarjeta-cesta p {
  font-size: 1rem;
  color: #b86179;
}
.tarjeta-cesta-button{
 display: flex;
 justify-content: center;
  width: 100%;
}
.tarjeta-cesta button {
  width: 6rem;
  height: 2rem;
  background-color: #EC0C43;
  border-radius: 8px;
  border: 2px solid #122C34;
  cursor: pointer;
  font-size: 1rem;
  color: #F7F4F3;
  transition: background-color 0.3s ease;
}

.tarjeta-cesta button:hover {
  background-color: #c0392b;
}
