.header-container{
    width: 100vw;
    height: 10vh;
    background-color: rgb(55, 94, 201);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header-button{
    width: 12%;
    height: 8vh;
    background-color: rgb(55, 94, 201);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4% 0 4%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.header-button:hover{
    font-size: 20px;
}

.header-icon_button {
    background: none;   
    border: none;    
    padding: 0;  
    cursor: pointer; 
    outline: none;          
  }

.header-icon_container{
    width: 200px;
}

.headerH-container{
    width: 100vw;
    height: 10vh;
    background-color: rgb(55, 94, 201);
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 2em;
}

.headerH-icon_container{
    border: 2px solid black;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.wellcome-title {
    font-size: 36px;
    font-weight: 1000;
    color: white;

}

.navigate-login-button, .nav-register-button {
    width: 72px;
    height: 36px;
    background-color: rgb(55, 94, 201);
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}

.navigate-login-button:hover, .nav-register-button:hover {
    font-size: 18px;

}


.settings-popup {
    position: absolute;
    top: 60px; /* Ajusta según la altura de tu header */
    right: 20px; /* Ajusta la posición horizontal según sea necesario */
    background-color: white; /* Color de fondo */
    border: 1px solid #ccc; /* Borde de la ventana */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    padding: 15px; /* Espaciado interno */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  }
  
  .settings-button {
    width: 100%; /* Ocupar todo el ancho del contenedor */
    height: 40px; /* Altura de los botones */
    background-color: rgb(55, 94, 201); /* Color de fondo para los botones */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    margin: 5px 0; /* Margen vertical entre los botones */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita para los textos */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    transition: background-color 0.3s; /* Transición para suavizar el cambio de color */
  }
  
  .settings-button:hover {
    background-color: rgb(45, 74, 181); /* Color más oscuro al pasar el mouse */
  }
  
  .logout-button {
    background-color: red; /* Color diferente para el botón de logout */
  }
  
  .logout-button:hover {
    background-color: darkred; /* Color más oscuro al pasar el mouse */
  }