/* SolicitudesForm.css */
.solicitudes-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  }
  
  .form-solicitud {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background: #F7F4F3;
    border: 2px solid #5B2333;
    border-radius: 8px;
    width: 320px;
  }
  
  .form-solicitud input,
  .form-solicitud select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-button {
    padding: 10px;
    margin-left: 22%;
    width: 150px;
    background-color: #D3ABB6;
    border: 0.5px solid #5B2333;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  .form-button:hover {
    background-color: #b86179;
    color: white;
}
  