/* IntercambioHome.css */

.IntercambioHome-father {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.IntercambioHome-body {
    width: 100vw;
    height: 80vh;
    overflow: hidden; 
    position: relative; 
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;    
}

.IntercambioHome-nav {
    width: 200px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: black;
}

.IntercambioHome-nav-button {
    font-size: 18px;
    color: white;
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: black;
    border: none;
}

.IntercambioHome-nav-button:hover {    
    font-size: 24px;
    font-weight: bolder;
    cursor:grab;
}

.IntercambioHome-content {
    background-image: url('../../assets/images/FondoIntercambio.png');
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    width: calc(100vw - 200px);
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: top;
}