* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden; /* Evita el scroll en toda la página */
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra de desplazamiento */
}

/* Personalizar el "thumb" (parte móvil de la barra de desplazamiento) */
::-webkit-scrollbar-thumb {
  background-color: #5B2333; /* Color del thumb */
  border-radius: 10px; /* Bordes redondeados */
  margin-right: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px; /* Bordes redondeados */
  margin: 20px;
}
