/* Estilos para la tarjeta de match */
.match-card {
  border: 2px solid #5B2333;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #F7F4F3;
}

/* Estilos para los detalles del match */
.match-details {
  margin-bottom: 16px;
}

.match-details h3 {
  margin-top: 0;
  font-size: 20px;
  color: #122C34;
}

.match-details p {
  margin: 8px 0;
  color: #122C34;
}

/* Estilos para el botón "ACEPTAR MATCH" */
.aceptar-match-btn {
  background-color: #D3ABB6; /* Verde */
  color: #5B2333;
  border: 2px solid #5B2333;;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.aceptar-match-btn:hover {
  background-color: #b86179; /* Verde más oscuro al pasar el mouse */
}

.aceptar-match-btn:active {
  background-color: #b86179; /* Verde aún más oscuro al hacer clic */
}