/* Contenedor general */
.ofertas-container {
    max-width: 650px;
    margin:auto;
   
    overflow: hidden;
    background-color: #F7F4F3;
}

/* Grid general */
.ofertas-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr; /* Ajusta la proporción entre columnas */
    gap: 10px;
    padding: 8px;
    align-items: center;
    text-align: center;
}

/* Encabezado */
.ofertas-header {
    background-color: #F7F4F3;
    color: #89364e;
    border: 1px solid #89364e;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Elementos de la lista */
.ofertas-item {
    border-bottom: 0.5px solid #D3ABB6;
    background-color: #F7F4F3;
}

.ofertas-item:nth-child(even) {
    background-color: #F7F4F3;
}

/* Estados de los libros */
.estado {
    font-weight: bold;
    padding: 5px;
    border: 0.5px solid #122C34;
    color: #122C34;
    width:80px ;
    border-radius: 2px;
}

.estado.pendiente {
    background-color: #ffeb3b;
    color: #856404;
}

.estado.aprobado {
    background-color: #28a745;
    color: white;
}

.estado.rechazado {
    background-color: #dc3545;
    color: white;
}

/* Botones */
.acciones {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.btn-primary {
    background-color: #4d90c4;
    color: white;
    width: 50px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-danger {
    background-color: #d05461;
    color: white;
    width: 60px;
}

.btn-danger:hover {
    background-color: #a71d2a;
}
